.Text{
  font-family: cursive;
}
.Image_Dangki {
  background-image: url("/banhang/image/logo/background.jpg");
  height: 570px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Image_Dangnhap {
  background-image: url("/banhang/image/logo/background.jpg");
  height: 570px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Menu_Size {
  padding-left: 130px;
}

.Menu_Menu-item {
  list-style-type: none;
  font-size: 20px;
  text-transform: uppercase;
}

.Menu_Link {
  text-decoration: none !important;
}

.Menu_Has-sub-menu {
  position: relative;
}

.Menu_Sub-menu {
  visibility: hidden;
  position: absolute;
  background-color: #eee;
  padding: 10px 0;
  list-style: none;
  font-size: 15px;
  text-transform: capitalize;
}

.Menu_Has-sub-menu:hover .Menu_Sub-menu {
  position: absolute;
  opacity: 1;
  visibility: visible;
  top: 30px;
  text-decoration: none;
}

.Menu_Item-link {
  padding: 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  color: black;
  text-decoration: none !important;
  display: block;
}

.Menu_Item-link:after {
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #898F8D;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Menu_Item-link:hover:after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.Carousel_Left_Size {
  height: 500px;
  width: 100%;
}

.Carousel_Left_Title {
  border-radius: 15px !important;
}

.Carousel_Image1 {
  border-radius: 15px;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Adv_Card {
  border-radius: 20px !important;
}
.Adv_Card:hover{
  transform: scale(1.05);
}


.Adv_Content {
  font-style: italic;
  color: blue;
  font-size: 30px;
}
.Size_Adv{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.Adv_Image_Image1 {
  background-image: url("/banhang/image/products/loai-1.jpg");
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
.Adv_Image_Image2 {
  background-image: url("/banhang/image/products/loai-2.jpg");
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Adv_Image_Image3 {
  background-image: url("/banhang/image/products/loai-3.jpg");
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.Product_Style {
  border-radius: 20px !important;
  color: white;
  font-size: 20px;
}

.Product_Image1 {
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Product_Image1:hover  {
  
          -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  transform: scale(1.05);
}

.Product_Image2 {
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Product_Image3{
  height: 100px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Product_Tin_Image {
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  float: left;
}

.Product_Tin_Tin {
  display: block;
  float: right;
  width: calc(100% - 70px);
  float: right;
  margin-right: 5px;
}

.Image_Home1{
  background-image: url("/banhang/image/logo/bg2.jpg");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Image_Home2{
  background-image: url("/banhang/image/logo/Sl-4.jpg");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Image_Home3{
  background-image: url("/banhang/image/logo/Hamb.jpg");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Cart_Image {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  float: left;
}

.Inventory{
  display: inline-block;
  line-height: 24px;
  padding: 0 10px;
  color: #FFF;
  background: #80BB35;
}

.Admin_Size_content-left {
  width: 100%;
  height: 500px;
}

.Admin_Size_content-right {
  width: 100%;
  height: auto;
}

.Admin_Size_footer {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.Admin_Size_image {
  background-image: url("https://images.unsplash.com/photo-1488474339733-16a5dd4ba5e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=736&q=80");
  height: 500px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li.nav-item:hover {
  background-color: gray;
}

.link:hover {
  text-decoration: none;
}

.Bill_form-block {
  margin-bottom: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Bill_input {
  width: 300px;
  height: auto;
}

.Bill_card-donhang_left {
  height: 140px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.Bill_card-donhang_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  margin-left: 30px;
}
 .Mess{
  height: 50px;
  width: 50px;
 }

 .Mess_Position{
  position: fixed;  
  width: 155px;
  height: 60px;
  bottom: 0;
  right: 0;
 }