
.Button{
    &_Dangki{
        background-image: url("https://images.unsplash.com/photo-1536935779868-3ea6bd0de56e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=642&q=80");
        height: 620px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.Logo{
    &_Image{
        background-image: url("http://www.selectharvests.com.au/media/Lucky_3D_Logo_FA_RGB_small.jpg");
        height: 150px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.Menu{
    &_Size{
        padding-left: 140px;
    }
    &_Menu-item{
        list-style-type: none;
        font-size: 20px;
        text-transform: uppercase;
    }
    &_Link{
        text-decoration: none !important;
    }

    &_Has-sub-menu{
        position: relative;
    }
    &_Sub-menu{
        visibility: hidden;
        position: absolute;
        background-color: #eee;
        padding: 10px 0;
        list-style: none;
        font-size: 15px;
        text-transform: capitalize;
        
    }

    &_Has-sub-menu:hover &_Sub-menu{
        position: absolute;
        opacity: 1;
        visibility: visible;
        top: 30px;
        //transition: all 0.3s;
        text-decoration: none;
    }
    &_Item-link{
        padding: 10px 0;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        color:black;
        text-decoration: none!important;
        display: block;
    }
    &_Item-link:after{
        content: '';
        width:0%;
        height:2px;
        position: absolute;
        bottom:0;
        left:0;
        background-color:#898F8D;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;
    }
    &_Item-link:hover:after{
        width:100%;
        opacity: 1;
        visibility: visible;
    }

    
}
.Carousel{
    &_Left{
        &_Size{
            height: 400px;
            width: 100%;
        }
        &_Title{
            border-radius: 15px !important;
        }
    }
    &_Image1{
            border-radius: 15px;
            height: 400px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    }
    
}
.Adv{
    &_Card{
        border-radius: 20px !important;
    }
    &_Content{
        font-style: italic;
        color: blue;
        font-size: 30px;
    }
    &_Image{
        &_Image1{
            background-image: url("/banhang/image/products/pudding-kem.jpg");
            height: 250px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px !important;
        }
        &_Image2{
            background-image: url("/banhang/image/products/banh-ngot-phap.jpg");
            height: 250px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px !important;
        }
        &_Image3{
            background-image: url("/banhang/image/products/banh-ngot-trai-cay.jpg");
            height: 250px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px !important;
        }
    }
}
.Product{
    &_Style{
        border-radius: 20px !important;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
    }
    &_Image1{
            height: 200px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: 0.3s;       
    }
    &_Image1:hover{
        transform: scale(0.8);
    }
    &_Image2{
        height: 200px;
        width: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &_Tin{
        &_Image{
            width: 80px;
            height: 80px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            float: left;
           
           
        }
        &_Tin{
            
            display: block;
            float: right;
            width: calc(100% - 70px);
            float: right;
            margin-right: 5px;
            
        }
       
    }
}

//Admin
.Admin{
    
    &_Size{
        &_content-left{
            width: 100%;
            height: auto;
        }
        &_content-right{
            width: 100%;
            height: auto;
            
        }
        &_footer{
            width: 100%;
            height: 50px;
            position: fixed;
            left: 0;
            bottom: 0;
            
        }
        &_image{
            background-image: url("https://images.unsplash.com/photo-1488474339733-16a5dd4ba5e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=736&q=80");
            height: 500px;
            width: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

li.nav-item:hover{
    background-color: gray;
}

.link:hover{
    text-decoration: none;
}

//Bill
.Bill{
    &_form-block{
        margin-bottom: 20px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    &_input{
        width: 300px;
        height: auto;
    }
    &_card-donhang{
        &_left{
            height: 140px;
            width: 200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            float: left;
        }
        &_right{
            display: flex;
            flex-direction: column;
            float: left;
            margin-left: 30px;
        }
    }

}




